<div class="panel panel-default card">
  <div class="panel-heading">
    <div>
      <div class="taxi-name">
        {{vm.taxi.name}}
      </div>
      <div>
        <img ng-src="modules/core/client/images/new-taxi.png">
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="taxi-photo">
          <img ng-src="{{vm.taxi.path_slike}}">
        </div>
      </div>
    </div>
    <div class="row item-info">
      <div class="col-md-12" translate>Max speed:  <b>{{vm.taxi.max_hitrost}}</b></div>
      <div class="col-md-12" translate>Leto izdelave: <b>{{vm.taxi.leto_izdelave}}</b></div>
      <div class="col-md-12" translate>Max passengers: <b>{{vm.taxi.max_potniki}}</b></div>
      <div class="col-md-12" translate>Duration: <b ng-if="vm.duration">{{ vm.duration }} </b><b ng-if="!vm.duration">0 </b>sec</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class=""
                ui-sref="taxis.view({ carId: vm.taxi._id })"
                ui-state-params="vm.taxi">View more details ...</a>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="flex-between">
      <div class="text-right">
        <button type="submit" class="btn btn-success text-uppercase" ng-if="!vm.zaseden" ui-sref="taxis.edit({ carId: vm.taxi._id })">najem</button>
        <button type="submit" class="btn btn-danger text-uppercase" ng-if="vm.zaseden" ng-click="vm.prekinitev()">prekini</button>
      </div>
    </div>
  </div>
</div>
