<div class="" ng-controller="HeaderController as vm">
  <div class="col-md-12">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-logo">
        <img src="https://www.bestcarfinder.co.uk/media/1078/skoda.png" >
      </a>
    </div>
    <div class="total-income" ng-if="!vm.showHeader">
      <div class="total-label">Total income: €{{vm.totalIncome}}</div>
      <button class="btn btn-default header-button text-uppercase" ng-disabled="!vm.checkTotalIncome()" ng-click="vm.buyNewTaxi()">Buy a new taxi</button>
    </div>
    <div class="current-time">
      {{vm.getCurrentTimeToday()}}
    </div>

  </div>
</div>
