<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="flex-start-top">
          <div class="image-holder">
            <img
              ng-src="{{vm.taxi.path_slike}}">
          </div>
          <div class="item-info item-info-details">
            <div class="" translate><h3 class="text-uppercase">{{vm.taxi.name}}</h3></div>
            <div class="" translate><div>All earnings:</div> <span class="all-earnings">€ {{vm.zasluzek}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="light margin-bottom-20 gray-dark" translate>
        Rent history
      </h2>
      <table class="table" style="width:100%" ng-if="vm.najems.length">
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Income</th>
        </tr>
        <tr ng-repeat="history in vm.najems">
          <td>{{history.datum | date}}</td>
          <td>{{history.trajanje}} sec</td>
          <td>€ {{vm.getZasluzek(history.trajanje)}}</td>
        </tr>
        <tr>
      </table>
      <div ng-if="!vm.najems.length">
        No rent history
      </div>
    </div>
  </div>
